{{define "callback"}}
var {{.Name}} *{{lower (.Name)}} = &{{lower (.Name)}}{}

type {{lower .Name}} struct{
    {{range .Callbacks}}
    {{.}} func(odatabase.Runner, oquery.Query, odatabase.Model) error
    {{.}}Slice func(odatabase.Runner, oquery.Query, odatabase.Slice) error
    {{end}}
}

{{range .Callbacks}}
func (self *{{lower $.Name}}) {{upper .}}(f func(odatabase.Runner, oquery.Query, odatabase.Model) error){
    self.{{.}} = f
}
func (self *{{lower $.Name}}) {{upper .}}Slice(f func(odatabase.Runner, oquery.Query, odatabase.Slice) error){
    self.{{.}}Slice = f
}

func (self *{{lower $.Name}}) Dispatch{{upper .}}(r odatabase.Runner, q oquery.Query, m odatabase.Model) error{
    return self.{{.}}(r, q, m)
}
func (self *{{lower $.Name}}) Dispatch{{upper .}}Slice(r odatabase.Runner, q oquery.Query, s odatabase.Slice) error{
    return self.{{.}}Slice(r, q, s)
}
{{end}}

{{end}}
