{{define "database"}}

var(
{{range .Databases}}
    {{.Name}} *odatabase.DB
{{end}}
)

func init(){
    {{range .Databases}}
        {{.Name}} = odatabase.New()
        {{.Name}}.SetName("{{.Name}}")
    {{end}}
}

func Set(name string, db *sql.DB) (*odatabase.DB, error) {
    if db == nil{
        return nil, fmt.Errorf("can not use nil as db")
    }
    switch strings.ToLower(name){
        {{range .Databases}}
        case "{{lower .Name}}":
            {{lower .Name}}.DB = db
            return {{lower .Name}}, nil
        {{end}}
        default:
            return nil, fmt.Errorf("database '%s' was not found", name)
    }
}


func Get(name string) (*odatabase.DB, error) {
    switch strings.ToLower(name){
        {{range .Databases}}
        case "{{lower .Name}}":
            return {{lower .Name}}, nil
        {{end}}
        default:
            return nil, fmt.Errorf("database '%s' was not found", name)
    }
}
{{end}}
