{{define "database"}}

var {{.Name}} *odatabase.DB

func init(){
    {{.Name}} = odatabase.New()
    {{.Name}}.SetName("{{.Name}}")
}

func Set{{upper .Name}}(db *sql.DB) (*odatabase.DB, error) {
    if db == nil{
        return nil, fmt.Errorf("can not use nil as db")
    }
    {{lower .Name}}.DB = db
    return {{lower .Name}}, nil
}

func Get{{upper .Name}}() *odatabase.DB {
    return {{lower .Name}}
}

{{end}}
