{{define "database"}}
{{template "heading" .}}
package database

import(
    "database/sql"
    "strings"
    "errors"

    "github.com/wlMalk/ormator/database"
)

var(
{{$i, _ := range .Databases}}
    {{lower .Name}} *database.DB
{{end}}
)

func Set(name string, db *sql.DB) (*database.DB, error) {
    switch strings.ToLower(name){
        {{$i, _ := range .Databases}}
        case "{{lower .Name}}":
            {{lower .Name}} = database.New(db)
            return {{lower .Name}}, nil
        {{end}}
        default:
            return nil, errors.New("database \""+ name +"\" was not found")
    }
}


func Get(name string) (*database.DB, error) {
    switch strings.ToLower(name){
        {{$i, _ := range .Databases}}
        case "{{lower .Name}}":
            if {{lower .Name}} == nil{
                return nil, errors.New("database \""+ name +"\" is not set")
            }
            return {{lower .Name}}, nil
        {{end}}
        default:
            return nil, errors.New("database \""+ name +"\" was not found")
    }
}
{{end}}
