{{define "query"}}

type operator int

const (
	Eq operator = iota
  NotEq
	Lt
	LtEq
	Gt
	GtEq
)

{{template "query_select" .}}

{{template "query_update" .}}

{{template "query_insert" .}}

{{template "query_delete" .}}

{{template "query_table" .}}

{{end}}
