{{define "query_select_where"}}
{{range .Fields}}
{{if primitive .Type}}
func (s *{{$.Name}}Select) Where{{.Name}}In(a ...{{.Type}}) *{{$.Name}}Select  { //change interface to type of field
    return s.Where({{plural $.Name}}.Filter{{.Name}}In(a...))
}

func (s *{{$.Name}}Select) Where{{.Name}}InQuery(q oquery.Query) *{{$.Name}}Select  {
    return s.Where({{plural $.Name}}.Filter{{.Name}}InQuery(q))
}

// And, Or // should reset wheres

func (s *{{$.Name}}Select) Where{{.Name}}(o operator, a {{.Type}}) *{{$.Name}}Select  {
    return s.Where({{plural $.Name}}.Filter{{.Name}}(o, a))
}

//if softdeleteable then whereDeleted, whereNotDeleted

{{end}}
{{end}}
{{end}}
