{{define "model"}}

type {{lower .Name}} struct{
	{{range .Fields}}{{if .InDB}}{{.Name}} {{if or (not .Primitive) .Null}}*{{end}}{{.Type}}{{end}}
	{{end}}
	{{if .AllowExtra}}
	Extra map[string]interface{}
	{{end}}
}

type {{.Name}} struct{
    {{lower .Name}} *{{lower .Name}}

    new bool
	retrieved bool

    changed bool
	changes map[string]bool
}

func New{{.Name}}() *{{.Name}} {
	return &{{.Name}}{
        {{lower .Name}}: &{{lower .Name}}{ {{if .AllowExtra}}
			Extra: map[string]interface{}{},
		{{end}}},
		changes: map[string]bool{},
        new: true,
    }
}

{{template "model_funcs" .}}

{{template "field_funcs" .}}

{{template "model_relations" .}}

{{template "model_list" .}}

{{end}}
